/* color palette from <https://github.com/vuejs/theme> */
:root {
  --color-maroon: maroon;
  --color-highlight-maroon: red;
  
  --color-blue: rgb(30, 58, 110);

  --color-gold: tan;
  --color-white: white;

  --font-title: 'Barlow Condensed', sans-serif;

  --img-card-front: url('../assets/images/cardFront.png');
  --img-card-back: url('../assets/images/cardBack.png');
  --img-map-background: url('../assets/images/map.jpg');
  --img-map-cover-right: url('../assets/images/right.png');
  --img-map-cover-right-2: url('../assets/images/rightB.png');
  --img-map-cover-left: url('../assets/images/left.png');
  --img-map-cover-left-2: url('../assets/images/leftB.png');


}

/* semantic color variables for this project */
:root {
  --section-gap: 160px;
  background-color: var(--color-gold);
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
  font-family: var(--font-title)
}

body {
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
