/* color palette from <https://github.com/vuejs/theme> */
:root {
  --maroon-color: maroon;
  --maroon-highlight: red;
  
  --blue-color: rgb(30, 58, 110);

  --gold-color: tan;
  --white-color: white;

  --title-font: 'Barlow Condensed', sans-serif;

  --card-front: url('../assets/images/cardFront.png');
  --card-back: url('../assets/images/cardBack.png');
  --map-background: url('../assets/images/map.jpg');
  --map-cover-right: url('../assets/images/right.png');
  --map-cover-left: url('../assets/images/left.png');


}

/* semantic color variables for this project */
:root {
  --section-gap: 160px;
  background-color: var(--gold-color);
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
  font-family: var(--title-font)
}

body {
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
